nav{
    display: flex;
    flex-direction: row;
    background-color: #FF2626;
    width: 100vw;
    height: fit-content;
    padding: 10px;
}

nav button{
    background: transparent;
    border: none;
    margin-left: 10px;
}

nav button:hover{
    background-color: #cd1f1f;;
}

nav div{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 3.2rem;
}

.menu{
    background-color: #171717;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 20vw;
    height: 100%;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}


.menu div{
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 1.9rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
}

.menu div:hover{
    background-color: darkgray;
}

.menu .close-item{
    margin-top: 20px;
    text-align: right;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes close {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}