<div class="form-container">
    <div class="row">
        <div>{{proveedoresService.modal}} PRODUCTO</div>
        <button (click)="proveedoresService.setModal('')"> X </button>
    </div>
    <form *ngIf="proveedoresService.modal=='EDITAR'" #form="ngForm" class="form-add" (ngSubmit)="submit($event)">
        <label>
            Nombre:
            <input type="text"  id="nombre" name="nombre" [(ngModel)]="proveedoresService.seleccionado.nombre" #nombre="ngModel" placeholder="Ingrese el nombre" required>
            <p *ngIf="!nombre.valid" class="p-warning">Este campo es obligatorio</p>
        </label>
        <label>
            Dirección:
            <input type="text" id="direccion" name="direccion" [(ngModel)]="proveedoresService.seleccionado.direccion" #direccion="ngModel" placeholder="Ingrese un precio unitario" min="0.1" step="0.1" required>
            <p *ngIf="!direccion.valid" class="p-warning">Este campo es obligatorio</p>
        </label>
        <button type="submit" class="send" [disabled]="!form.valid"
            [class.valid]="form.valid"
            [class.invalid]="!form.valid"
        >{{proveedoresService.modal}}</button>
    </form>
    <form *ngIf="proveedoresService.modal=='AGREGAR'" #form="ngForm" class="form-add" (ngSubmit)="submit($event)">
        <label>
            NIF:
            <input type="text"  id="nif" name="nif" [(ngModel)]="data.nif" #nif="ngModel" placeholder="Ingrese el nif" required>
            <p *ngIf="!nif.valid" class="p-warning">Este campo es obligatorio</p>
        </label>
        <label>
            Nombre:
            <input type="text"  id="nombre" name="nombre" [(ngModel)]="data.nombre" #nombre="ngModel" placeholder="Ingrese el nombre" required>
            <p *ngIf="!nombre.valid" class="p-warning">Este campo es obligatorio</p>
        </label>
        <label>
            Dirección:
            <input type="text" id="direccion" name="direccion" [(ngModel)]="data.direccion" #direccion="ngModel" placeholder="Ingrese una dirección" min="0.1" step="0.1" required>
            <p *ngIf="!direccion.valid" class="p-warning">Sólo se permiten valores númericos mayores a 0.1</p>
        </label>
        <button type="submit" class="send" [disabled]="!form.valid"
            [class.valid]="form.valid"
            [class.invalid]="!form.valid"
        >{{proveedoresService.modal}}</button>
    </form>
</div>
