<div >
    <h2>Detalles Factura</h2>
    <div class="form-group mb-2">
        <label >Factura ID</label>
        <p> {{ this.facturasService.seleccion.facturaId}}</p>
    </div>
    <div class="form-group mb-2">
        <label >Facturación</label>
        <p> {{ this.facturasService.seleccion.facturacion}}</p>
    </div>
    <div class="form-group mb-2">
        <label >Cliente</label>
        <p> {{ this.facturasService.seleccion.clienteNombre +" " + this.facturasService.seleccion.clienteApellido}}</p>
    </div>
    
    <table  class="table table-light table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Unidades</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of this.facturasService.seleccion.productos">
                <td>{{producto.productoNombre}}</td>
                <td>{{producto.productoUnidades}}</td>
                <td>{{producto.productoPrecio | currency}}</td>
                <td>{{(producto.productoUnidades * producto.productoPrecio) | currency}} </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group mb-2 ">
        <h4 class="text-end" >Total:</h4>
        <p class="text-end"> {{ this.facturasService.seleccion.total | currency }}</p>
    </div>
    <div class="row text-center">
        <a href="facturas" class="btn btn-secondary mb-2">Regresar</a>
    </div>
</div>

