<form #formedit="ngForm" (ngSubmit)="edit($event)">
    <h2>Editar Cliente</h2>
    <p>A continuación se le permitira editar los datos de un cliente</p>
    <div class="form-group mb-2">
        <label >DNI</label>
        <p > {{ this.dni }} </p>
    </div>
    <div class="form-group mb-2">
        <label >Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese los nombres del cliente" id="nombres" name="nombres" [(ngModel)]="this.clienteService.seleccion.nombres" #nombres="ngModel" required>
        <p *ngIf="nombres.invalid" class="text-danger">Por favor rellene este campo </p>
    </div>
    <div class="form-group mb-2">
        <label >Apellidos</label>
        <input type="text" class="form-control" placeholder="Ingrese los apellidos del cliente" id="apellidos" name="apellidos" [(ngModel)]="this.clienteService.seleccion.apellidos" #apellidos="ngModel" required>
        <p *ngIf="apellidos.invalid" class="text-danger">Por favor rellene este campo </p>
    </div>
    <div class="form-group mb-2">
        <label >Dirección</label>
        <input type="text" class="form-control" placeholder="Ingrese la dirección del cliente" id="direccion" name="direccion" [(ngModel)]="this.clienteService.seleccion.direccion" #direccion="ngModel" required>
        <p *ngIf="direccion.invalid" class="text-danger">Por favor rellene este campo </p>
    </div>
    <div class="form-group mb-2">
        <label >Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="this.clienteService.seleccion.fechaNacimiento" #fechaNacimiento="ngModel" required>
        <p *ngIf="fechaNacimiento.invalid" class="text-danger">Por favor rellene este campo </p>
    </div>
    <div class="row text-center">
        <a href="clientes" class="btn btn-secondary mb-2">Cancelar</a>
        <button [disabled]="!formedit.valid" type="submit" class="btn btn-primary mb-2">Editar</button>
    </div>
</form>