<div class="data">
    <h2>CLIENTES</h2>
    <div class="row-reverse">
        <button class="add-button"(click)="clienteService.setModal('AGREGAR')">AGREGAR</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>NOMBRE</th>
                    <th>APELLIDOS</th>
                    <th>DIRECCION</th>
                    <th>OPERACIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clienteService.clientes">
                    <td>{{cliente.dni}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td><button class="edit-button" (click)="edit(cliente)">EDITAR</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="clienteService.modal!=''" class="modal">
    <client-form></client-form>
</div>