<form #formedit="ngForm" (ngSubmit)="edit($event)">
    <h2>Editar producto</h2>
    <p>A continuación se le permitira rellenar un formulario para editar un producto</p>
    <div class="form-group mb-2">
        <label >Id</label>
        <p> {{this.id }}</p>
    </div>
    <div class="form-group mb-2">
        <label >Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre del producto" id="nombre" name="nombre" [(ngModel)]="this.productosService.seleccion.nombre" #nombre="ngModel" required>
        <p *ngIf="nombre.invalid" class="text-danger">Por favor rellene este campo </p>
    </div>
    <div class="form-group mb-2">
        <label >Precio Unitario</label>
        <input type="number" class="form-control" placeholder="Ingrese el precio unitario del producto" id="precioUnitario" name="precioUnitario" [(ngModel)]="this.productosService.seleccion.precioUnitario" #precioUnitario="ngModel" min="0" required>
        <p *ngIf="precioUnitario.invalid" class="text-danger">Por favor rellene este campo correctamente</p>
    </div>
    <div class="form-group mb-2">
        <label >Proveedor</label>
        <select  class="form-control" id="proveedor" name="proveedor" [(ngModel)]="this.productosService.seleccion.proveedorId" #proveedor="ngModel" required>
            <option value="-1">SELECCIONE UN PROVEEDOR</option>
            <option *ngFor="let prov of this.proveedoresService.proveedores" [value]="prov.proveedorId">{{prov.nombre}}</option>
        </select>
        <p *ngIf="proveedor.value=='-1'" class="text-danger">Por favor seleccione un proveedor </p>
    </div>
    <div class="row text-center">
        <a href="productos" class="btn btn-secondary mb-2">Cancelar</a>
        <button type="submit" [disabled]="!formedit.valid" class="btn btn-primary mb-2">Editar</button>
    </div>
</form>
