<div class="form-container">
    <div class="row">
        <div>{{productosService.modal}} PRODUCTO</div>
        <button (click)="productosService.setModal('')"> X </button>
    </div>
    <form *ngIf="productosService.modal=='EDITAR'" #form="ngForm" class="form-add" (ngSubmit)="submit($event)">
        
        <label>
            Nombre:
            <input type="text"  id="nombre" name="nombre" [(ngModel)]="productosService.seleccionado.nombre" #nombre="ngModel" placeholder="Ingrese el nombre" required>
            <p *ngIf="!nombre.valid" class="p-warning">Este campo es obligatorio</p>
        </label>
        <label>
            Precio Unitario:
            <input type="number" id="precio_unitario" name="precio_unitario" [(ngModel)]="productosService.seleccionado.precio_unitario" #precio_unitario="ngModel" placeholder="Ingrese un precio unitario" min="0.1" step="0.1" required>
            <p *ngIf="!precio_unitario.valid" class="p-warning">Sólo se permiten valores númericos mayores a 0.1</p>
        </label>
        <label>
            Proveedor:
            <select [value]="data.proveedor" id="proveedor" name="proveedor" [(ngModel)]="productosService.seleccionado.proveedor" #proveedor="ngModel"  required>
                <option *ngFor="let proveedor of proveedoresService.proveedores" [value]="proveedor.nif">{{proveedor.nombre}}</option>
            </select>
            
            <p *ngIf="!proveedor.valid" class="p-warning">Por favor seleccione un proveedor</p>
        </label>
        <button type="submit" class="send" [disabled]="!form.valid"
            [class.valid]="form.valid"
            [class.invalid]="!form.valid"
        >{{productosService.modal}}</button>
    </form>
    <form *ngIf="productosService.modal=='AGREGAR'" #form="ngForm" class="form-add" (ngSubmit)="submit($event)">
        
        <label>
            Nombre:
            <input type="text"  id="nombre" name="nombre" [(ngModel)]="data.nombre" #nombre="ngModel" placeholder="Ingrese el nombre" required>
            <p *ngIf="!nombre.valid" class="p-warning">Este campo es obligatorio</p>
        </label>
        <label>
            Precio Unitario:
            <input type="number" id="precio_unitario" name="precio_unitario" [(ngModel)]="data.precio_unitario" #precio_unitario="ngModel" placeholder="Ingrese un precio unitario" min="0.1" step="0.1" required>
            <p *ngIf="!precio_unitario.valid" class="p-warning">Sólo se permiten valores númericos mayores a 0.1</p>
        </label>
        <label>
            Proveedor:
            <select [value]="data.proveedor" id="proveedor" name="proveedor" [(ngModel)]="data.proveedor" #proveedor="ngModel"  required>
                <option *ngFor="let proveedor of proveedoresService.proveedores" [value]="proveedor.nif">{{proveedor.nombre}}</option>
            </select>
            
            <p *ngIf="!proveedor.valid" class="p-warning">Por favor seleccione un proveedor</p>
        </label>
        <button type="submit" class="send" [disabled]="!form.valid"
            [class.valid]="form.valid"
            [class.invalid]="!form.valid"
        >{{productosService.modal}}</button>
    </form>
</div>
