<div class="data">
    <h2>PRODUCTOS</h2>
    <div class="row-reverse">
        <button class="add-button"(click)="productosService.setModal('AGREGAR')">AGREGAR</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>PROVEEDOR</th>
                    <th>OPERACIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productosService.productos">
                    <td>{{producto.producto}}</td>
                    <td>{{producto.precio | moneda}}</td>
                    <td>{{producto.proveedor}}</td>
                    <td><button class="edit-button" (click)="edit(producto)">EDITAR</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="productosService.modal!=''" class="modal">
    <producto-form></producto-form>
</div>
