<div class="">
    <h2 class="card-title">Clientes</h2>
    <div class="row justify-content-between mb-2">
        <div class="col-8">
            <p>Panel de gestión de clientes, a continuación se muestran los clientes registrados </p>
        </div>
        <div class="col-4 justify-content-end">
            <a class="btn btn-primary" routerLink="add">Agregar Cliente</a>
        </div>
    </div>
    <table class="table table-light table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dirección</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clienteService.clientes">
                <td>{{cliente.dni}}</td>
                <td>{{cliente.nombres}}</td>
                <td>{{cliente.apellidos}}</td>
                <td>{{cliente.direccion}}</td>
                <td>
                    <a class="btn btn-primary mx-2" routerLink="edit" [queryParams]="{dni:cliente.dni}" >Editar</a>
                    <button class="btn btn-danger" (click)="delete(cliente.dni)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>