<div class="form-container">
    <div class="row">
        <div>{{facturasService.modal}} FACTURA</div>
        <button (click)="facturasService.setModal('')"> X </button>
    </div>
    <form *ngIf="facturasService.modal=='AGREGAR'" #form="ngForm" class="form-add" (ngSubmit)="submit($event)">
        <label>
            Cliente:
            <select [value]="data.cliente" id="cliente" name="cliente" [(ngModel)]="data.cliente" #cliente="ngModel"  required>
                <option *ngFor="let a of clienteService.clientes" [value]="a.dni">{{a.dni}}-{{a.nombre}} {{a.apellido}}</option>
            </select>
            <p *ngIf="!cliente.valid" class="p-warning">Por favor seleccione un cliente</p>
        </label>
        <label>
            Fecha facturación:
            <input type="date" id="fecha_facturacion" name="fecha_facturacion" [(ngModel)]="data.fecha_facturacion" #fecha_facturacion="ngModel"  required>
            <p *ngIf="!fecha_facturacion.valid" class="p-warning">Por favor ingrese una fecha de facturación</p>
        </label>
        <label>
            Compras:
            <p *ngIf="!(data.compras.length>0)" class="p-warning">Por favor agregue compras a su factura</p>
            <hr>
            <div class="row">
                <label>
                    Producto:
                    <select [value]="compra.producto" id="producto" name="producto" [(ngModel)]="compra.producto" #producto="ngModel"  required>
                        <option *ngFor="let a of productosService.productos" [value]="a.cod">{{a.producto}}</option>
                    </select>
                    <p *ngIf="!producto.valid" class="p-warning">Por favor seleccione un producto</p>
                </label>
                <label>
                    Unidades:
                    <input type="number" id="unidades" name="unidades" [(ngModel)]="compra.unidades" #unidades="ngModel" min="1" step="1"  required>
                    <p *ngIf="!unidades.valid" class="p-warning">Por favor ingrese unidades superiores a 0</p>
                </label>
                <button class="edit-button" *ngIf="(producto.valid&&compra.producto>0)&&unidades.valid" (click)="agregarCompra()">AGREGAR</button>
            </div>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>PRODUCTO</th>
                        <th>UNIDADES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of data.compras">
                        <td>{{c.producto}}</td>
                        <td>{{c.unidades}}</td>
                    </tr>
                </tbody>
            </table>
        </label>
        <button type="submit" class="send" [disabled]="!form.valid"
            [class.valid]="form.valid&&data.compras.length>0"
            [class.invalid]="!form.valid&&!(data.compras.length>0)"
        >{{facturasService.modal}}</button>
    </form>
    <div *ngIf="facturasService.modal=='DETALLES'" class="detalle-div">
        <p class="bold">Id: <span class="data">{{facturasService.seleccion[0].id}}</span></p>
        <p class="bold">Fecha de facturación: <span class="data">{{facturasService.seleccion[0].fecha_facturacion | fecha}}</span></p>
        <p class="bold">Cliente: <span class="data">{{facturasService.seleccion[0].nombre}}</span></p>
        <p class="bold">Total: <span class="data">{{facturasService.seleccion[0].total | moneda}}</span></p>
        <table>
            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>UNIDADES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of facturasService.seleccion">
                    <td>{{d.producto}}</td>
                    <td>{{d.unidades}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
