<div class="data">
    <h2>FACTURAS</h2>
    <h3>Filtros:</h3>
    <div class="filter">
        <label>
            Mes:
            <select [value]="filtro.mes" id="mes" name="mes" [(ngModel)]="filtro.mes" #mes="ngModel" required>
                <option value="1">Enero</option> 
                <option value="2">Febrero</option> 
                <option value="3">Marzo</option> 
                <option value="4">Abril</option> 
                <option value="5">Mayo</option> 
                <option value="6">Junio</option> 
                <option value="7">Julio</option> 
                <option value="8">Agosto</option> 
                <option value="9">Septiembre</option> 
                <option value="10">Octubre</option> 
                <option value="11">Noviembre</option> 
                <option value="12">Diciembre</option> 
            </select>
            <p *ngIf="!mes.valid" class="p-warning">Seleccione un mes</p>
        </label>
        <label>
            Año:
            <input type="number" min="1" step="1" [value]="filtro.anio" id="anio" name="anio" [(ngModel)]="filtro.anio" #anio="ngModel" required/>
            <p *ngIf="!anio.valid" class="p-warning">El año que ingreso es inválido</p>
        </label>
        <button  [disabled]="!(mes.valid&&anio.valid)" (click)="filtrar()" class="filter-button">FILTRAR</button>
        <button *ngIf="facturasService.filtrado" (click)="limpiar()" class="clear-button">LIMPIAR</button>
    </div>
    <div class="row-reverse">
        <button  class="add-button"(click)="facturasService.setModal('AGREGAR')">AGREGAR</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>FECHA</th>
                    <th>VALOR</th>
                    <th>OPERACIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of facturasService.facturas">
                    <td>{{factura.nombre}}</td>
                    <td>{{factura.fecha_facturacion | fecha}}</td>
                    <td>{{factura.total | moneda}}</td>
                    <td><button class="edit-button" (click)="detalles(factura)">DETALLES</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="facturasService.modal!=''" class="modal">
    <facturas-form></facturas-form>
</div>